*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-transform: capitalize;
}

body {
  position: relative;
}

.container {
  width: 100%;
  background-color: #e7e7e7;
  text-align: center;
  position: relative;
  backdrop-filter: blur(10px);

}

.container::after,
.container::before {
  content: "";
  width: 15rem;
  height: 15rem;
  border-radius: 50%;
  position: absolute;
  z-index: -10;
  opacity: .1;

}

.container::after {
  background-color: rgb(0, 255, 85);
  left: -3.5rem;
  top: -2.5rem;
  animation: circlemove1 infinite 3s ease-in-out;
}

.container::before {
  background-color: rgb(0, 157, 255);
  right: 1.5rem;
  bottom: 6rem;
  animation: circlemove infinite 3s ease-in-out;
}

@keyframes circlemove {
  0% {
    transform: translate(-2rem, -2rem);
  }

  50% {
    transform: translate(0rem, 0rem);
  }

  100% {
    transform: translate(-2rem, -2rem);
  }
}

@keyframes circlemove1 {
  0% {
    transform: translate(2rem, 2rem);
  }

  50% {
    transform: translate(0rem, 0rem);
  }

  100% {
    transform: translate(2rem, 2rem);
  }
}

/* welcome message */

.start {
  width: 100%;
  top: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.822);
  position: absolute;
  z-index: 1000;
}

.start button {
  transform: translateY(10rem);
  padding: 2rem 3rem;
  font-size: 2rem;
}


/* welcome message */
/* color change */
.change {
  margin-block: 1rem;
}

.all-btn {
  padding: .5rem 1rem;
  cursor: pointer;
}

.all-btn:hover {
  background-color: rgb(181, 181, 181);
}

/* color change */
/* random names */
#generate {
  margin-block: 1rem;
}

#change1 {
  display: block;
  margin: 1rem auto .1rem;

}

/* random names */
/* palindrom game  ******/
#random-input {
  padding: 0.5rem 1rem;
  margin-block: 1rem;
}

#random-btn {
  padding: 0.5rem 1rem;
  display: block;
  margin: auto;
}

#random-check {
  padding: 1rem;
}

.dance {
  animation: dance 1s linear infinite;
}

@keyframes dance {
  0% {
    scale: .9;
  }

  50% {
    scale: 1;

  }

  100% {
    scale: .9;

  }
}

/* palindrom game  ******/
/* age calculation<><><><><><>< */
@property --ageangle {
  syntax: "<angle>";
  initial-value: 0deg;
  inherits: false;
}

.age {
  background-color: #e7e7e7;
  width: 17rem;
  height: 16rem;
  margin: auto;
  padding: 1rem;
  position: relative;
}

.age::after {
  content: "";
  background-image: conic-gradient(from var(--ageangle), transparent 50%, rgb(0, 136, 255));
  width: 17.5rem;
  height: 16.5rem;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  position: absolute;
  z-index: -1;
  animation: agemove infinite 3s linear;
}

@keyframes agemove {
  0% {
    --ageangle: 0deg
  }

  100% {
    --ageangle: 360deg
  }

}

#age-input {
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  color: green;
  font-weight: 700;
  text-align: center;
}

.age-result {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-block: 2rem;
}

.age-result div button {
  margin-bottom: .5rem;
  border: none;
  background-color: rgb(168, 168, 168);
}

.age-result .all-btn1 {
  padding: 0.5rem 1rem;
  position: relative;
  transform-style: preserve-3d;
  display: block;
  transition: .3s ease-in-out;
  /* perspective: 1200px; */
}

.age-result .all-btn1::after {
  content: attr(anim);
  left: 0;
  bottom: -50%;
  position: absolute;
  background-color: rgb(125, 9, 9);
  padding: 0.5rem 1rem;
  transform: rotateX(-90deg);
  color: #fff;
}

.age-result .all-btn1:hover {
  transform: rotateX(90deg);
  background-color: brown;
}

#age-reset {
  padding-inline: 2rem;
}

/* age calculation<><><><><><>< */
/* rock paper scissors GAME >>>>>>>>>> */
.rock-game .rock-btns {
  margin-block: 2rem;
  display: flex;
  gap: 1rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.rock-game .rock-btns button {
  border: none;
  border-radius: 5rem;
  background-color: transparent;
  cursor: pointer;
}

.rock-game .rock-btns button:hover {
  background-color: rgba(255, 68, 0, 0.58);
}

.rock-game .rock-btns img {
  width: 4rem;
  padding: 0.5rem;
}
#rock-result{
  font-size: 1.5rem;
}
.rock-reset {
  margin-block: 1rem;
}

#rock-score {
  margin-block: 1rem;
}

#rock-choice img {
  width: 2rem;
}

#rock-choice {
  margin-bottom: 1rem;
  font-size: 1rem;
}

/* rock paper scissors GAME >>>>>>>>>> */